<!DOCTYPE html>
<html>
  <head>
    <title>Devine la carte !</title>
    <link rel="stylesheet" type="text/css" href="/web/style.css">
  </head>
  <body>
    <h1>Devine la carte !</h1>
    <div id="game"></div>
    <script src="/web/app.js"></script>
    <!-- Add this inside the game-container div -->
    <div id="game-container">
        <form id="game-form">
            <label for="nomCarte">Nom de la carte:</label>
            <input type="text" id="nomCarte" name="nomCarte">
            <label for="couleurCarte">Couleur de la carte:</label>
            <input type="text" id="couleurCarte" name="couleurCarte">
            <button type="submit">Submit</button>
        </form>
    </div>
   
  </body>
</html>
